* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(169, 144, 126);
}

.board {
  width: 100vw;
  height: 55vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: flex-start;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  /* to show X and O mark */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* targe the 1st, 2nd,3rd child element with the class "cell" of parent element */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-last-child(-n + 3) {
  border-bottom: none;
}

.winMessage {
  background-color: black;
}

/* X -mark class */
.cell.x::before,
.cell.x::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 7px; /* cross thickness */
  background-color: rgb(243, 222, 186);
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

/* O -mark class */

/* They are positioned on top of each other due to the use of position: absolute */
.cell.circle::before,
.cell.circle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before {
  height: 65px;
  width: 65px;
  background-color: rgb(171, 196, 170);
}

.cell.circle::after {
  height: 50px;
  width: 50px;
  background-color: rgb(169, 144, 126);
}

/* winning message showing case, hidden firs */
.message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(171, 196, 170, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 90px;
  flex-direction: column;
  font-family: "Protest Riot", sans-serif;
}

/* change display to "show" to show message */
.message.msgShow {
  display: flex;
}
/* 
@property --color {
  syntax: "<color>";
  initial-value: black;
  inherits: true;
}

@property --color-hue {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@keyframes color-hue {
  from {
    --color-hue: 0;
  }
  to {
    --color-hue: 180;
  }
} */

header {
  font-family: "Protest Riot", sans-serif;
  font-size: 60px;
  color: black;
  display: flex;
  justify-content: center;
  margin: 100px;
}

.restart {
  font-size: 40px;
  margin-top: 20px;
  border-radius: 12px;
  font-family: "Protest Riot", sans-serif;
  color: rgb(169, 144, 126);
}

.restart:hover {
  background-color: rgb(103, 93, 80);
  color: white;
}

.nextTurn {
  font-family: "Protest Riot", sans-serif;
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: center;

  margin-bottom: 2000px;
}
